body {
  text-align: center;
}
.form_info {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
